@font-face {
    font-family: 'Cera Pro';
    src: url("../fonts/CeraPro/CeraPro-Regular.woff");
        url("../fonts/CeraPro/CeraPro-Regular.woff2");
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url("../fonts/CeraPro-Bold/cera-pro-bold.woff");
        url("../fonts/CeraPro-Bold/cera-pro-bold.woff2");
}

.layout {
    padding: 24px;
    display: flex;
    font-family: "Cera Pro", sans-serif;
    background-color: #FBFBFB;
}

.down {
    padding: 24px;
    display: flex;
    align-items: center;
}

.down-item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 7px;
}

.down-item p {
    color: #3D3D3D;
    font-family: Cera Pro Bold, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 94.118% */
}

.down-item-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.vertical-line {
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.10);
    flex-shrink: 0;
    margin: 0 40px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 354px;
}

.subscribe-form h2 {
    color: #3D3D3D;
    font-family: Cera Pro Bold, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */

}

.subscribe-form input {
    height: 42px;
    line-height: 42px;
    text-align: center;
    padding: 0 112px 0 0;
    border-radius: 6px;
}

.subscribe-form input::placeholder {
    padding-left: 11px;
    color: #ACACAC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}

.subscribe-form button {
    padding: 10px 26px;
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 0 6px 6px 0;
}

.form-action {
    display: flex;
    gap: -10px;
}

.contact-banner {
    font-family: "Cera Pro", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}

.contact-banner span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.layout-footer {
    font-family: "Cera Pro", sans-serif;
    display: flex;
    padding: 33px 25px;
    gap: 164px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.account-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account-links h3 {
    color: #3D3D3D;
    font-family: Cera Pro Bold, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

.helpers-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.helpers-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.helpers-links h3 {
    color: #3D3D3D;
    font-family: Cera Pro Bold, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

.categories-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categories-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categories-links h3 {
    color: #3D3D3D;
    font-family: Cera Pro Bold, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

.social-actions {
    margin-right: 155px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.social-actions h3 {
    font-family: Cera Pro Bold, sans-serif;
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

.layout-footer > div {
    display: flex;
    flex-direction: column;
}

footer .copyright{
    display: block;
    width: 100%;
    text-align: center;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    padding: 12px 0 0;
    border-top: 1px solid rgba(70,163,88,0.20);
}





